<a href="https://colab.research.google.com/github/sanathkumar-744/mlds/blob/main/class1/Copy_of_PESUIO_Slot_14_class_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Welcome to the first class of undersanding ML algorithms
Today you will get yourselves familiar with python and essentially get to dive into the basics of some libraries that you will be learning about throughout this course.

The Most basic Hello World program:

In [ ]:
print("Hello World!")

Hello World!

Concept of variables and data types :
EXERCISE: A travel company wants to fly a plane to the Bahamas. Flying the plane costs 5000 dollars. So far, 29 people have signed up for the trip. If the company charges 200 dollars per ticket, what is the profit made by the company? Create variables for each numeric quantity and use appropriate arithmetic operations.

In [ ]:
cost=5000
pa=29
price=200
print(29*200-5000)

800

Concept of a conditional statement or a set of conditional statements and cases :
Write a code snippet which evaluates whether a number is a multiple of just 2 , just 3 , or both 2 and 3 (multiple of 6)

In [ ]:
a=int(input())
if(a%2==0):
  print("divisible by 2")
if(a%3==0):
  print("divisible by 3")
if(a%6==0):
  print("divisible by 6")

6
divisible by 2
divisible by 3
divisible by 6

Concept of loops:
Write a program to count the number of vowels in the given string:
ANTIESTABLISHMENTARIANISTICALLY

In [ ]:
a='ANTIESTABLISHMENTARIANISTICALLY'
c=0
for i in a:
  if(i=='A' or i=='I' or i=='E' or i=='U' or i=='O'):
    c=c+1
print(c)

12

learning what each data- structure in python does and using all their functions:

LISTS AND ITS FUNCTIONALITY:

In [ ]:
#Define a random list of fruits 

#iterate over the list and find the name of the fruit which has the smallest word length

# append a vegetable to your existing list

# find the size of your list

# add enough fruits such that your list size if greater that 4

# delete the 2nd fruit(1st index) from your list:

# add your name in the 4th position of the list (3rd index)

#have fun and try out any 4-5 pre-defined fucntions on a list as seen in the python list documentation
a=['apples','cherries','banana','grapes','berries','mangoes','lime']
c=len(a[0])
for i in a:
  if(len(i)<c):
    c=len(i)
for i in a:
  if(len(i)==c):
    print(i)

a.append('carrot')
print(len(a))
a.remove(a[1])
print(a)
a.insert(4,'Sanath')
print(a)

lime
8
['apples', 'banana', 'grapes', 'berries', 'mangoes', 'lime', 'carrot']
['apples', 'banana', 'grapes', 'berries', 'Sanath', 'mangoes', 'lime', 'carrot']

TUPLES AND ITS FUNCTIONALITY:

In [ ]:
#create abd tuple and print its elements 

#print the type of each value in the tuple

#try to change the seconf value in your tuple to "Caterpillar"

# print the last element of the tuple without using the length of the tuple

# slicing is an IMPORTANT concept in python especially since you will all be working on huge amounts of data so try different options 
# print(a[-2:]), print([:3]) etc...

#sort vs sorted function: find the difference in the form of a program:
a=('AB','9R34','2','433','DFFS4','EW5')
for i in a:
  print(type(i))
print(a[-1])
print(a[::-2])
print(a[::-1])
print(sorted(a,key=len))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
EW5
('EW5', '433', '9R34')
('EW5', 'DFFS4', '433', '2', '9R34', 'AB')
['2', 'AB', '433', 'EW5', '9R34', 'DFFS4']

SETS AND ITS FUNCTIONALITY:

In [ ]:
#explore the properties of set and after doing that solve this little puzzle below:
a={1,2,3,4}
b={4,5,6,7}
print(a|b)
print(a&b)
print(a.union(b))

{1, 2, 3, 4, 5, 6, 7}
{4}
{1, 2, 3, 4, 5, 6, 7}

Ana is a data-scientist  who just started her career in Meta, however she needs to find the existance of new words on facebook hashtags and find the numbre of unique such words which need to be added to the existing facebook hastag library:

facebook hastag library : ["ootd", "lol", "ffs", "asap"]
daily facebook hastag words string: " rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours"
You will need to indivitually extract the words from the string and then solve this problem ?? How are you going to do that ? 
# Reading documentation should become a habit .....

In [ ]:
#solve the above problem and help ana do her work she may even hirea
a=" rofl lol macha bob ootd asap fun sweet16 ffs lol asap ootd ffs macha rofl bob ootd fun candid anime happyhours bob fun happyhours" 
b=a.split()
v=["ootd", "lol", "ffs", "asap"]+b
'''b=set(b)
c=list(b)
for i in c:
  if(i not in v):
    print(i)'''

0

DICTIONARIES AND ITS FUNCTIONALITY:

In [ ]:
#explore the usage of dictionaries because it is literally so useful when in comes data science
#a lot of the data you will be using will be as key-value pairs 
# get vs [] for retrieving elements
my_dict = {'name': 'Jack', 'age': 26}


# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# Output None
print(my_dict.get('address'))

# KeyError
print(my_dict['address'])

Given an unsorted list of some elements(may or may not be integers), Find the frequency of each distinct element in the list using a dictionary. 
Input : [1, 1, 1, 5, 5, 3, 1, 3, 3, 1,
                  4, 4, 4, 2, 2, 2, 2]

Output : 1 : 5
         2 : 4
         3 : 3
         4 : 3
         5 : 2

In [ ]:
# Python program to count the frequency of
# elements in a list using a dictionary
 
def CountFrequency(my_list): 
  aq=[]
  s={}
  p=0
  for i in my_list:
    aq.append(i)
    if(aq.count(i)==1):
      s[i]=my_list.count(i)
      p=p+1
  for i in s:
    print(i,':',s[i],end=' ')



# Driver function
if __name__ == "__main__":
    my_list =[1, 1, 1, 5, 5, 3, 1, 3, 3, 1, 4, 4, 4, 2, 2, 2, 2]
    my_list.sort()
    CountFrequency(my_list)

1 : 5 2 : 4 3 : 3 4 : 3 5 : 2

Now that you have finished this basics exercise in python We shall now play in teams and winning Team doesn't get homework today !